<!-- 
THEME: Aviato | E-commerce template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/aviato-e-commerce-template/
DEMO: https://demo.themefisher.com/aviato/
GITHUB: https://github.com/themefisher/Aviato-E-Commerce-Template/

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
-->


<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤드-->
<th:block th:replace="/ubooks/common/header :: headFragment"></th:block>

<link rel="stylesheet" th:href="@{/css/ubooks/auto-complete.css}"/>

<body id="body">
<!-- Start Top Header Bar -->
<th:block th:replace="/ubooks/common/top :: headTop"></th:block>
<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">중고책 구매</h1>
					<ol class="breadcrumb">
						<li><a href="/index">Home</a></li>
						<li class="active"><a href="/complete-works">중고책 구매</a></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="products section">
	<div class="container" style="width:1300px">
		<div class="row">
			<div class="col-md-2">
				<div class="widget">
					<h4 class="widget-title">정렬 기준</h4>
                    <select id="selectSort" class="form-control" >
                        <option value="date" th:if="${#strings.equals(searchParam.sort,'date') or #strings.equals(searchParam.sort,'')}" selected>신규등록순</option>
                        <option value="date" th:unless="${#strings.equals(searchParam.sort,'date') or #strings.equals(searchParam.sort,'')}">신규등록순</option>
                        <option value="cheap" th:if="${#strings.equals(searchParam.sort,'cheap')}" selected>낮은가격순</option>
                        <option value="cheap" th:unless="${#strings.equals(searchParam.sort,'cheap')}">낮은가격순</option>
                        <option value="expensive" th:if="${#strings.equals(searchParam.sort,'expensive')}" selected>높은가격순</option>
                        <option value="expensive" th:unless="${#strings.equals(searchParam.sort,'expensive')}" >높은가격순</option>
                        <option value="best" th:if="${#strings.equals(searchParam.sort,'best')}" selected>한달판매순</option>
                        <option value="best" th:unless="${#strings.equals(searchParam.sort,'best')}" >한달판매순</option>
                    </select>
	            </div>
				<div class="widget product-category">
					<h4 class="widget-title">카테고리</h4>
					<div class="panel-group commonAccordion" id="accordion" role="tablist" aria-multiselectable="true">
					  	<div class="panel panel-default">
						    <div class="panel-heading" role="tab" id="headingOne">
						      	<h4 class="panel-title">
						        	<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">연령별</a>
						      	</h4>
						    </div>
					    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<ul>
									<li class="cateAge" th:each="age : ${agesList}">
										<a href="#!" th:text="${age}"></a>
									</li>
								</ul>
							</div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingTwo">
					      <h4 class="panel-title">
					        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					         	출판사별
					        </a>
					      </h4>
					    </div>
					    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					    	<div class="panel-body">
					     		<ul>
									<li class="catePublisher" th:each="publisher : ${publishersList}"><a href="#!" th:text="${publisher}"></a></li>
								</ul>
					    	</div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingThree">
					      <h4 class="panel-title">
					        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					          	분야별
					        </a>
					      </h4>
					    </div>
					    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					    	<div class="panel-body">
					      		<ul>
									<li class="cateDepartment" th:each="department : ${departmentsList}"><a href="#!" th:text="${department}"></a></li>
								</ul>
					    	</div>
					    </div>
					  </div>
					</div>
					
				</div>
			</div>
			<div class="col-md-7">
				<div class="searchBtnGroup">
					<a id="ageBtn" th:if="${!#strings.equals(searchParam.age,'')}" th:text="|${searchParam.age} [x]|" href="#!" class="btn btn-main btn-small btn-round"></a>
					<a id="publisherBtn" th:if="${!#strings.equals(searchParam.publisher,'')}" th:text="|${searchParam.publisher} [x]|" href="#!" class="btn btn-main btn-small btn-round"></a>
					<a id="departmentBtn" th:if="${!#strings.equals(searchParam.department,'')}" th:text="|${searchParam.department} [x]|" href="#!" class="btn btn-main btn-small btn-round"></a>
				</div>
				
				<form method="post" action="/complete-works" id="searchForm" name="searchForm">
					<div class="form-group form-inline">
						<select name="searchField" id="searchField" class="form-control" style="width:15%;height:45px;">
							<option value="_all" th:if="${#strings.equals(searchParam.searchField,'_all') or #strings.equals(searchParam.searchField,'')}" selected>전체</option>
							<option value="_all" th:unless="${#strings.equals(searchParam.searchField,'_all') or #strings.equals(searchParam.searchField,'')}">전체</option>
							<option value="title" th:if="${#strings.equals(searchParam.searchField,'title') }" selected>제목</option>
							<option value="title" th:unless="${#strings.equals(searchParam.searchField,'title') }">제목</option>
							<option value="seller_name" th:if="${#strings.equals(searchParam.searchField,'seller_name')}" selected>판매자명</option>
							<option value="seller_name" th:unless="${#strings.equals(searchParam.searchField,'seller_name')}">판매자명</option>
						</select>
						<input type="text" id="query" name="query" class="form-control search_input" placeholder="Search..." th:value="${searchParam.query}" style="width:84%" autocomplete='off'> 
						<div class = "rel_search">
						    <ul class="pop_rel_keywords">
						    </ul>
						</div>
					</div>
					<input type="hidden" name="sort" id="sort" th:value="${searchParam.sort}"/> 
					<input type="hidden" name="department" id="department" th:value="${searchParam.department}"/> 
					<input type="hidden" name="publisher" id="publisher" th:value="${searchParam.publisher}"/> 
					<input type="hidden" name="age" id="age" th:value="${searchParam.age}"/> 
				</form>
				<div th:with="totalHits=${#strings.replace(res.get('totalHits'),' hits','')}">
					'<span class="highlight" th:text="${searchParam.query}"></span>'검색결과는 총 <span id="totalHits" th:text="${totalHits}"></span> 건 입니다.
				</div>
				
				<div class="row">
					<div class="col-md-4" th:if="${#lists.size(list)}" th:each="list : ${res.get('searchResult')}">
						<div class="product-item">
							<div class="product-thumb">
								<!-- <span class="bage">Sale</span> -->
								<img th:if="${#strings.equals(list.images,null)}" class="img-responsive card-img" th:src="@{images/ubooks/shop/products/product-1.jpg}" alt="product-img" />
								<img th:unless="${#strings.equals(list.images,null)}" class="img-responsive card-img" th:src="|@{${#strings.arraySplit(list.images,'|')[0]}}|" alt="product-img" />
								<div class="preview-meta">
									<ul>
										<li>
											<span  data-toggle="modal" data-target="#product-modal" th:onclick="|javascript:prevAjax('${list.book_id}')|">
												<i class="tf-ion-ios-search-strong"></i>
											</span>
										</li>
										<!-- <li>
					                        <a href="#!" ><i class="tf-ion-ios-heart"></i></a>
										</li> -->
										<li>
											<a th:href="|/addCart/${list.book_id}/1|"><i class="tf-ion-android-cart"></i></a>
										</li>
									</ul>
		                      	</div>
							</div>
							<div class="product-content">
								<h4>
									<a th:if="${list.title.length > 15 }" th:href="|/complete-works/${list.book_id}|" th:text="${#strings.substring(list.title,0,15) + '...'}"></a>
									<a th:unless="${list.title.length > 15 }" th:href="|/complete-works/${list.book_id}|" th:text="${list.title}"></a>
								</h4>
								<p class="price" th:text="${#numbers.formatInteger(list.price, 0, 'DEFAULT') + '&#8361;'}"></p>
							</div>
						</div>
					</div>
		
		<!-- Modal -->
		<div class="modal product-modal fade" id="product-modal">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img id="cardPreviewImage" class="img-responsive" src="" alt="product-img" style="display:none;"/>
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
			        				<h2 id="modal-title" class="product-title"></h2>
			        				<p id="modal-price" class="product-price"></p>
			        				<p id="modal-state" class="product-short-description"></p>
			        				<a id="modal-cart" href="/cart" class="btn btn-main">Add To Cart</a>
			        				<a id="modal-detail" href="#" class="btn btn-transparent">View Product Details</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div><!-- /.modal -->

				</div>				
			</div>
			<div class="col-md-3">
				<div class="widget ">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span>인기검색어</span>
						</div>
						<div id="pop-day" class="btn btn-light col-md-4 pop-btn pop-selected" style="margin-top: 5px;background-color: grey;color: white;">일간</div>
						<div id="pop-week" class="btn btn-light col-md-4 pop-btn" style="margin-top: 5px;">주간</div>
						<div id="pop-month" class="btn btn-light col-md-4 pop-btn" style="margin-top: 5px;">월간</div>
						
						<hr>
						
						<div class="panel-collapse collapse in">
							<div class="panel-body">
								<ul th:if="${#lists.size(popd)}" id="popd" style="display:block;">
									<th:block th:each="i : ${#numbers.sequence(0,#lists.size(popd)-1)}">
										<li>
											<th:block th:if="${i == 0}">
												<span class="sr_numbox" th:text="${i+1}"></span>
											</th:block>
											<th:block th:if="${i == 1 || i == 2}">
												<span class="sr_numbox2" th:text="${i+1}"></span>
											</th:block>
											<th:block th:if="${i > 2}">
												<span class="sr_numbox3" th:text="${i+1}"></span>
											</th:block>
											<a href="#!" onclick="javascript:searchPopword(this.innerText)" th:text="${popd.get(i).key}"></a>
											<span class="sr_rank">
												<th:block th:if="${#strings.equals(popd.get(i).status,'up')}">
													<i class="sr_rankup"></i>
													<span th:text="${popd.get(i).value}"></span>
												</th:block>
												<th:block th:if="${#strings.equals(popd.get(i).status,'down')}">
													<i class="sr_rankdown"></i>
													<span th:text="${-popd.get(i).value}"></span>
												</th:block>
												<th:block th:if="${#strings.equals(popd.get(i).status,'new') or #strings.equals(popd.get(i).status,'-')}">
													<span th:text="${popd.get(i).status}"></span>
												</th:block>
											</span>
										</li>
									</th:block>
								</ul>
								<ul th:if="${#lists.size(popw)}" id="popw" style="display:none;">
									<th:block th:each="i : ${#numbers.sequence(0,#lists.size(popw)-1)}">
										<li>
											<th:block th:if="${i == 0}">
												<span class="sr_numbox" th:text="${i+1}"></span>
											</th:block>
											<th:block th:if="${i == 1 || i == 2}">
												<span class="sr_numbox2" th:text="${i+1}"></span>
											</th:block>
											<th:block th:if="${i > 2}">
												<span class="sr_numbox3" th:text="${i+1}"></span>
											</th:block>
											<a href="#!" onclick="javascript:searchPopword(this.innerText)" th:text="${popw.get(i).key}"></a>
											<span class="sr_rank">
												<th:block th:if="${#strings.equals(popw.get(i).status,'up')}">
													<i class="sr_rankup"></i>
													<span th:text="${popw.get(i).value}"></span>
												</th:block>
												<th:block th:if="${#strings.equals(popw.get(i).status,'down')}">
													<i class="sr_rankdown"></i>
													<span th:text="${-popw.get(i).value}"></span>
												</th:block>
												<th:block th:if="${#strings.equals(popw.get(i).status,'new') or #strings.equals(popw.get(i).status,'-')}">
													<span th:text="${popw.get(i).status}"></span>
												</th:block>
											</span>
										</li>
									</th:block>
								</ul>
								<ul th:if="${#lists.size(popm)}" id="popm" style="display:none;">
									<th:block th:each="i : ${#numbers.sequence(0,#lists.size(popm)-1)}">
										<li>
											<th:block th:if="${i == 0}">
												<span class="sr_numbox" th:text="${i+1}"></span>
											</th:block>
											<th:block th:if="${i == 1 || i == 2}">
												<span class="sr_numbox2" th:text="${i+1}"></span>
											</th:block>
											<th:block th:if="${i > 2}">
												<span class="sr_numbox3" th:text="${i+1}"></span>
											</th:block>
											<a href="#!" onclick="javascript:searchPopword(this.innerText)" th:text="${popm.get(i).key}"></a>
											<span class="sr_rank">
												<th:block th:if="${#strings.equals(popm.get(i).status,'up')}">
													<i class="sr_rankup"></i>
													<span th:text="${popm.get(i).value}"></span>
												</th:block>
												<th:block th:if="${#strings.equals(popm.get(i).status,'down')}">
													<i class="sr_rankdown"></i>
													<span th:text="${-popm.get(i).value}"></span>
												</th:block>
												<th:block th:if="${#strings.equals(popm.get(i).status,'new') or #strings.equals(popm.get(i).status,'-')}">
													<span th:text="${popm.get(i).status}"></span>
												</th:block>
											</span>
										</li>
									</th:block>
								</ul>
								
							</div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- 공통 하단-->
<th:block th:replace="/ubooks/common/footer :: footerFragment"></th:block>
<!-- 공통 스크립트-->
<th:block th:replace="/ubooks/common/script :: scriptFragment"></th:block>

<script th:src="@{/js/ubooks/autoComplete/auto-complete.js}"></script>
<script th:src="@{/js/ubooks/popWord/pop-word.js}"></script>

  </body>
  </html>
