<!-- 
THEME: Aviato | E-commerce template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/aviato-e-commerce-template/
DEMO: https://demo.themefisher.com/aviato/
GITHUB: https://github.com/themefisher/Aviato-E-Commerce-Template/

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
-->


<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤드-->
<th:block th:replace="/ubooks/common/header :: headFragment"></th:block>

<body id="body">

<!-- Start Top Header Bar -->
<th:block th:replace="/ubooks/common/top :: headTop"></th:block>
<div class="hero-slider">
	<th:block th:each="item : ${bannerInfo}">
		<div class="slider-item th-fullpage hero-area" th:style="'background-image: url('+@{${item.url}}+');'">
	    <div class="container">
	      <div class="row">
	        <div class="col-lg-8 text-center">
	          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1" th:text="${item.ad_title}"></p>
	          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5" th:text="${item.ad_desc}"></h1>
	          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" th:href="${'/complete-works/' + item.bid}" th:text="${'Shop Now'}"></a>
	        </div>
	      </div>
	    </div>
	  </div>
	</th:block>
  
  <div class="slider-item th-fullpage hero-area" th:style="'background-image: url('+ @{images/ubooks/slider/slider-1.jpg} +');'">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-center">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">PRODUCTS</p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">The beauty of nature <br> is hidden in details.</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="/shop">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item th-fullpage hero-area" th:style="'background-image: url('+ @{images/ubooks/slider/slider-3.jpg} +');'">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-left">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">PRODUCTS</p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">The beauty of nature <br> is hidden in details.</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="/shop">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item th-fullpage hero-area" th:style="'background-image: url('+ @{images/ubooks/slider/slider-2.jpg} +');'">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-right">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">PRODUCTS</p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">The beauty of nature <br> is hidden in details.</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="/shop">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="product-category section">
</th:block>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2>Product Category</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box">
					<a th:href="${'/complete-works?department=' + productCategory[1].department}">
						<img th:src="|@{${#strings.arraySplit(productCategory[1].images,'|')[0]}}|" alt="" />
						<div class="content">
							<h3 th:text="${productCategory[1].department}"></h3>
							<p th:text="${productCategory[1].title}"></p>
						</div>
					</a>	
				</div>
				<div class="category-box">
					<a th:href="${'/complete-works?department=' + productCategory[2].department}">
						<img th:src="|@{${#strings.arraySplit(productCategory[2].images,'|')[0]}}|" alt="" />
						<div class="content">
							<h3 th:text="${productCategory[2].department}"></h3>
							<p th:text="${productCategory[2].title}"></p>
						</div>
					</a>	
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box category-box-2">
					<a th:href="${'/complete-works?department=' + productCategory[0].department}">
						<img th:src="|@{${#strings.arraySplit(productCategory[0].images,'|')[0]}}|" alt="" />
						<div class="content">
							<h3 th:text="${productCategory[0].department}"></h3>
							<p th:text="${productCategory[0].title}"></p>
						</div>
					</a>	
				</div>
			</div>
		</div>
	</div>
</section>

<section class="products section bg-gray">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Trendy Products</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4" th:if="${#lists.size(list)}" th:each="list : ${trendyProducts.get('searchResult')}">
				<div class="product-item">
					<div class="product-thumb">
						<!-- <span class="bage">Sale</span> -->
						<img th:if="${#strings.equals(list.images,null)}" class="img-responsive card-img" th:src="@{images/ubooks/shop/products/product-1.jpg}" alt="product-img" />
						<img th:unless="${#strings.equals(list.images,null)}" class="img-responsive card-img" th:src="|@{${#strings.arraySplit(list.images,'|')[0]}}|" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal" th:onclick="|javascript:prevAjax('${list.book_id}')|">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<!-- <li>
			                        <a href="#!" ><i class="tf-ion-ios-heart"></i></a>
								</li> -->
								<li>
									<a th:href="|/addCart/${list.book_id}/1|"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4>
							<a th:if="${list.title.length > 15 }" th:href="|/complete-works/${list.book_id}|" th:text="${#strings.substring(list.title,0,15) + '...'}"></a>
							<a th:unless="${list.title.length > 15 }" th:href="|/complete-works/${list.book_id}|" th:text="${list.title}"></a>
						</h4>
						<p class="price" th:text="${#numbers.formatInteger(list.price, 0, 'DEFAULT') + '&#8361;'}"></p>
					</div>
				</div>
			</div>
			
		
		<!-- Modal -->
		<div class="modal product-modal fade" id="product-modal">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        	<div class="row">
			        		<div class="col-md-8 col-sm-6 col-xs-12">
			        			<div class="modal-image">
				        			<img id="cardPreviewImage" class="img-responsive" src="" alt="product-img" style="display:none;"/>
			        			</div>
			        		</div>
			        		<div class="col-md-4 col-sm-6 col-xs-12">
			        			<div class="product-short-details">
			        				<h2 id="modal-title" class="product-title"></h2>
			        				<p id="modal-price" class="product-price"></p>
			        				<p id="modal-state" class="product-short-description"></p>
			        				<a id="modal-cart" href="/cart" class="btn btn-main">Add To Cart</a>
			        				<a id="modal-detail" href="#" class="btn btn-transparent">View Product Details</a>
			        			</div>
			        		</div>
			        	</div>
			        </div>
		    	</div>
		  	</div>
		</div><!-- /.modal -->

		</div>
	</div>
</section>


<!--
Start Call To Action
==================================== -->
<!-- <section class="call-to-action bg-gray section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="title">
					<h2>SUBSCRIBE TO NEWSLETTER</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, <br> facilis numquam impedit ut sequi. Minus facilis vitae excepturi sit laboriosam.</p>
				</div>
				<div class="col-lg-6 col-md-offset-3">
				    <div class="input-group subscription-form">
				      <input type="text" class="form-control" placeholder="Enter Your Email Address">
				      <span class="input-group-btn">
				        <button class="btn btn-main" type="button">Subscribe Now!</button>
				      </span>
				    </div>/input-group
			  </div>/.col-lg-6

			</div>
		</div> 		End row
	</div>   	End container
</section>   End section

<section class="section instagram-feed">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2>View us on instagram</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="instagram-slider" id="instafeed" data-accessToken="IGQVJYeUk4YWNIY1h4OWZANeS1wRHZARdjJ5QmdueXN2RFR6NF9iYUtfcGp1NmpxZA3RTbnU1MXpDNVBHTzZAMOFlxcGlkVHBKdjhqSnUybERhNWdQSE5hVmtXT013MEhOQVJJRGJBRURn"></div>
			</div>
		</div>
	</div>
</section> -->

<!-- 공통 하단-->
<th:block th:replace="/ubooks/common/footer :: footerFragment"></th:block>
<!-- 공통 스크립트-->
<th:block th:replace="/ubooks/common/script :: scriptFragment"></th:block>
</body>
 </html>
