<!-- 
THEME: Aviato | E-commerce template
VERSION: 1.0.0
AUTHOR: Themefisher

HOMEPAGE: https://themefisher.com/products/aviato-e-commerce-template/
DEMO: https://demo.themefisher.com/aviato/
GITHUB: https://github.com/themefisher/Aviato-E-Commerce-Template/

WEBSITE: https://themefisher.com
TWITTER: https://twitter.com/themefisher
FACEBOOK: https://www.facebook.com/themefisher
-->


<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤드-->
<th:block th:replace="/ubooks/common/header :: headFragment"></th:block>

<body id="body">
<!-- Start Top Header Bar -->
<th:block th:replace="/ubooks/common/top :: headTop"></th:block>
<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><a href="/index">Home</a></li>
					<li><a href="/complete-works">중고책 구매</a></li>
					<li class="active">제품 상세</li>
				</ol>
			</div>
			<div class="col-md-6">
				<ol class="product-pagination text-right">
					<li th:if="${res.nextBid} > 0"><a th:href="|/complete-works/${res.nextBid}|"><i class="tf-ion-ios-arrow-left"></i> Next </a></li>
					<li th:if="${res.prevBid} > 0"><a th:href="|/complete-works/${res.prevBid}|">Preview <i class="tf-ion-ios-arrow-right"></i></a></li>
				</ol>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
						<div class='carousel-outer'>
							<!-- me art lab slider -->
							<div class='carousel-inner '>
								<th:block th:each="i : ${#numbers.sequence(0,#lists.size(res.images)+1)}">
									<div th:if="${i==0}" class='item active'>
										<img th:src='|@{${#strings.arraySplit(res.images,"|")[i]}}|' alt='' th:data-zoom-image='|@{${#strings.arraySplit(res.images,"|")[i]}}|' />
									</div>
									<div th:unless="${i==0}" class='item'>
										<img th:src='|@{${#strings.arraySplit(res.images,"|")[i]}}|' alt='' th:data-zoom-image='|@{${#strings.arraySplit(res.images,"|")[i]}}|' />
									</div>
								</th:block>
							</div>
							
							<!-- sag sol -->
							<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
								<i class="tf-ion-ios-arrow-left"></i>
							</a>
							<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
								<i class="tf-ion-ios-arrow-right"></i>
							</a>
						</div>
						
						<!-- thumb -->
						<ol class='carousel-indicators mCustomScrollbar meartlab'>
							<th:block th:each="i : ${#numbers.sequence(0,#lists.size(res.images)+1)}">
								<li th:if="${i==0}" data-target='#carousel-custom' th:data-slide-to='${i}' class='active'>
									<img th:src='|@{${#strings.arraySplit(res.images,"|")[i]}}|' alt='' />
								</li>
								<li th:unless="${i==0}" data-target='#carousel-custom' th:data-slide-to='${i}'>
									<img th:src='|@{${#strings.arraySplit(res.images,"|")[i]}}|' alt='' />
								</li>
							</th:block>
						</ol>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2 th:text="${res.title}" ></h2>
					<div class="product-category">
						<span>판매가:</span>
						<ul>
							<li><p th:text="${#numbers.formatInteger(res.price, 0, 'DEFAULT') + '&#8361;'}"></p></li>
						</ul>
					</div>
					<div class="product-category">
						<span>원가:</span>
						<ul>
							<li>
								<p th:if="${#strings.isEmpty(res.list_price)}">표기없음</p>
								<p th:unless="${#strings.isEmpty(res.list_price)}" th:text="${#numbers.formatInteger(res.list_price, 0, 'DEFAULT') + '&#8361;'}"></p>
							</li>
						</ul>
					</div>
					<div class="product-category">
						<span>출판사:</span>
						<ul>
							<li><a href="javascript:void(0);" th:text="${res.publisher}"></a></li>
						</ul>
					</div>
					<div class="product-category">
						<span>출판연도:</span>
						<ul>
							<li>
								<p th:if="${#strings.isEmpty(res.pub_year)}">표기없음</p>
								<p th:unless="${#strings.isEmpty(res.pub_year)}" th:text="${res.pub_year}"></p>
							</li>
						</ul>
					</div>
					<div class="product-category">
						<span>분야:</span>
						<ul>
							<li><a href="javascript:void(0);" th:text="${res.department}"></a></li>
							<!-- <li><a href="/product-single">Soap</a></li> -->
						</ul>
					</div>
					<div class="product-category">
						<span>적정 연령:</span>
						<ul>
							<li th:if="${#strings.equals(res.min_age,'초등전학년') or #strings.equals(res.min_age,'초등3학년이상')}"><p th:text="${res.min_age}"></p></li>
							<li th:unless="${#strings.equals(res.min_age,'초등전학년') or #strings.equals(res.min_age,'초등3학년이상')}"><p th:text="|${res.min_age}~${res.max_age}세|"></p></li>
						</ul>
					</div>
					<div class="product-category">
						<span>새책/중고:</span>
						<ul>
							<li>
								<p th:if="${#strings.equals(res.new_or_used,'u')}"> 중고</p>
								<p th:unless="${#strings.equals(res.new_or_used,'u')}"> 새책</p>
							</li>
						</ul>
					</div>
					<div class="product-category">
						<span>배송비:</span>
						<ul>
							<li th:if="${#strings.equals(res.shipping_fee,'0')}"><p>무료</p></li>
							<li th:unless="${#strings.equals(res.shipping_fee,'0')}"><p th:text="${#strings.replace(res.shipping_fee,'-',' ~ ')+ '&#8361;'}"></p></li>
							<!-- <li><a href="/product-single">Soap</a></li> -->
						</ul>
					</div>
					
					<p th:text="${res.state}" class="product-description mt-20"></p>
					<div class="product-quantity">
						<span>주문 수량:</span>
						<div class="product-quantity-slider">
							<input id="product-quantity" type="text" value="0" name="product-quantity">
						</div>
					</div>
					<input type="hidden" id="bookId" th:value="${res.book_id}" />
					<a id="addCartBtn" href="#!" class="btn btn-main mt-20">장바구니에 추가</a>
					<th:block th:if="${#strings.equals(session.memberId,res.seller_id)}">
						<a th:href="|javascript:updateProduct(${res.book_id})|" id="updateProduct" class="btn btn-main mt-20 float-right">상품정보 수정하기</a>
						<a th:href="|javascript:deleteProduct(${res.book_id})|" id="deleteProduct" class="btn btn-main mt-20 float-right">상품 삭제하기</a>
					</th:block>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="tabCommon mt-20">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
						<li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false" th:text="|Reviews (${comment.size()})|">Reviews (3)</a></li>
					</ul>
					<div class="tab-content patternbg">
						<div id="details" class="tab-pane fade active in">
							<h4>판매자 정보</h4>
							<p th:text="|판매자 명: ${res.seller_name}(${res.seller_id})|"></p>
							<p th:text="|판매자 전화번호: ${res. seller_contact}|"></p>
						</div>
						<div id="reviews" class="tab-pane fade">
							<div class="post-comments">
						    	<ul class="media-list comments-list m-bot-50 clearlist">
									    <!-- Comment Item start-->
								    <th:block th:if="${comment.size() > 0}">
									    <li class="media" th:each="list : ${comment}">
									        <div class="media-body" th:id="|commentbody-${list.idx}|">
									            <div class="comment-info" th:id="|comment-info-${list.idx}">
									                <h4 class="comment-author">
									                    <a href="#!" th:text="${list.userName}"></a>
									                </h4>
									                <time th:datetime="${list.timestamp}" th:text="${#temporals.format(list.timestamp, 'yyyy년 MMM dd일 HH:mm')} |"></time>
									                <time th:datetime="${list.updated_date}" th:text="${#temporals.format(list.updated_date, ', MMM dd일 HH:mm 수정됨')} |"></time>
									            </div>
									            <p th:id="|comment-${list.idx}|" class="comment-content" th:text="${list.content}"></p>
									            <th:block th:if="${session.memberId == list.userId}">
										            <a th:id="|update-comment-${list.idx}|" th:href="|javascript:updateComment(${list.idx});|" class="btn btn-main btn-small btn-round-full update-comment">수정</a>
										            <a th:id="|delete-comment-${list.idx}|" th:href="|javascript:deleteComment(${list.idx});|" class="btn btn-main btn-small btn-round-full delete-comment">삭제</a>
									            </th:block>
									        </div>
	
									    </li>
								    </th:block>
								    <th:block th:unless="${comment.size() > 0}">
									    <div class="alert alert-info alert-common alert-dismissible" role="alert">
							            	아직 리뷰가 없습니다
			            				</div>
								    </th:block>
								</ul>
							</div>
							<ul>
								<li>
									<form method="post" action="/comment" class="form-inline media-body">
										<div class="mb-3 ">
		  									<input name="content" type="text" class="form-control comment_input" placeholder="add comment" aria-label="add comment" aria-describedby="basic-addon2">
		  									<input name="bookId" type="hidden" th:value="${bookId}" />
											<button type="submit" class="btn btn-main comment_button">리뷰 등록하기</button>
										</div> 
									</form>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="products related-products section">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Related Products</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
						<img class="img-responsive" th:src="@{/images/ubooks/shop/products/product-5.jpg}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="/product-single">Reef Boardsport</a></h4>
						<p class="price">$200</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" th:src="@{/images/ubooks/shop/products/product-1.jpg}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="/product-single">Rainbow Shoes</a></h4>
						<p class="price">$200</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" th:src="@{/images/ubooks/shop/products/product-2.jpg}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="/product-single">Strayhorn SP</a></h4>
						<p class="price">$230</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" th:src="@{/images/ubooks/shop/products/product-3.jpg}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal">
										<i class="tf-ion-ios-search"></i>
									</span>
								</li>
								<li>
			                        <a href="#" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="/product-single">Bradley Mid</a></h4>
						<p class="price">$200</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>



<!-- Modal -->
<div class="modal product-modal fade" id="product-modal">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<i class="tf-ion-close"></i>
	</button>
  	<div class="modal-dialog " role="document">
    	<div class="modal-content">
	      	<div class="modal-body">
	        	<div class="row">
	        		<div class="col-md-8">
	        			<div class="modal-image">
		        			<img class="img-responsive" th:src="@{/images/ubooks/shop/products/modal-product.jpg}" />
	        			</div>
	        		</div>
	        		<div class="col-md-3">
	        			<div class="product-short-details">
	        				<h2 class="product-title">GM Pendant, Basalt Grey</h2>
	        				<p class="product-price">$200</p>
	        				<p class="product-short-description">
	        					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo laborum numquam rem aut officia dicta cumque.
	        				</p>
	        				<a href="#!" class="btn btn-main">Add To Cart</a>
	        				<a href="#!" class="btn btn-transparent">View Product Details</a>
	        			</div>
	        		</div>
	        	</div>
	        </div>
    	</div>
  	</div>
</div>
<!-- 공통 하단-->
<th:block th:replace="/ubooks/common/footer :: footerFragment"></th:block>
<!-- 공통 스크립트-->
<th:block th:replace="/ubooks/common/script :: scriptFragment"></th:block>


  </body>
  </html>