<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <!-- Head -->
    <th:block th:fragment="headFragment">
        <head>
		  <!-- Basic Page Needs
		  ================================================== -->
		  <meta charset="utf-8">
		  <title>BStore | 중고책 거래의 중심지 비스토어</title>
		
		  <!-- Mobile Specific Metas
		  ================================================== -->
		  <meta http-equiv="X-UA-Compatible" content="IE=edge">
		  <meta name="description" content="Construction Html5 Template">
		  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
		  <meta name="author" content="Themefisher">
		  <meta name="generator" content="Themefisher Constra HTML Template v1.0">
		  
		  <!-- Favicon -->
		  <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/ubooks/favicon.png}" />
		  
		  <!-- Themefisher Icon font -->
		  <!-- <link rel="stylesheet" href="plugins/themefisher-font/style.css"> -->
		  <link rel="stylesheet" th:href="@{/plugins/ubooks/themefisher-font/style.css}"/>
		  <!-- bootstrap.min css -->
		  <!-- <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css"> -->
		  <link rel="stylesheet" th:href="@{/plugins/ubooks/bootstrap/css/bootstrap.min.css}"/>
		  <!-- Animate css -->
		  <!-- <link rel="stylesheet" href="plugins/animate/animate.css"> -->
		  <link rel="stylesheet" th:href="@{/plugins/ubooks/animate/animate.css}"/>
		  <!-- Slick Carousel -->
		  <!-- <link rel="stylesheet" href="plugins/slick/slick.css">
		  <link rel="stylesheet" href="plugins/slick/slick-theme.css"> -->
		  <link rel="stylesheet" th:href="@{/plugins/ubooks/slick/slick.css}"/>
		  <link rel="stylesheet" th:href="@{/plugins/ubooks/slick/slick-theme.css}"/>
		  <!-- Main Stylesheet -->
		  <link rel="stylesheet" th:href="@{/css/ubooks/style.css}"/>
		</head>
    </th:block>
</html>

