<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Start Top Header Bar -->
<th:block th:fragment="headTop">
<section class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12 col-sm-4">
				<div class="contact-number">
					<th:block th:if="${session.memberId == null}">
						<a href="/login"><i class="tf-ion-log-in"></i>로그인</a>&nbsp;&nbsp;
						<i class="tf-ion-person-add"></i>
						<a href="/signin">회원가입</a>
					</th:block>
					<th:block th:unless="${session.memberId == null}">
						<i class='tf-ion-android-person'></i>
						<span th:text="|${session.memberName}님 환영합니다|"></span>&nbsp;&nbsp;
						<a href="/logout"><i class="tf-ion-log-out"></i>로그아웃</a>
					</th:block>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Site Logo -->
				<div class="logo text-center">
					<a href="/index">
						<!-- replace logo here -->
						<svg width="135px" height="29px" viewBox="0 0 155 29" version="1.1" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
								font-family="AustinBold, Austin" font-weight="bold">
								<g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
									<text id="AVIATO">
										<tspan x="108.94" y="325">BStore</tspan>
									</text>
								</g>
							</g>
						</svg>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Cart -->
				<ul class="top-menu text-right list-inline">
					<li class="dropdown cart-nav dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i
								class="tf-ion-android-cart"></i>장바구니</a>
						<div id="cartDropdownList" class="dropdown-menu cart-dropdown"></div>
					</li><!-- / Cart -->

					<!-- Search -->
					<li class="dropdown search dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i
								class="tf-ion-ios-search-strong"></i> 상품검색</a>
						<ul class="dropdown-menu search-dropdown">
							<li>
								<form action="/complete-works"><input name="query" type="search" class="form-control" placeholder="Search..."></form>
							</li>
						</ul>
					</li><!-- / Search -->

					<!-- Languages -->
					<!-- <li class="commonSelect">
						<select class="form-control">
							<option>EN</option>
							<option>DE</option>
							<option>FR</option>
							<option>ES</option>
						</select>
					</li> --><!-- / Languages -->

				</ul><!-- / .nav .navbar-nav .navbar-right -->
			</div>
		</div>
	</div>
</section><!-- End Top Header Bar -->


<!-- Main Menu Section -->
<section class="menu">
	<nav class="navbar navigation">
		<div class="container">
			<div class="navbar-header">
				<h2 class="menu-title">Main Menu</h2>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div><!-- / .navbar-header -->

			<!-- Navbar Links -->
			<div id="navbar" class="navbar-collapse collapse text-center">
				<ul class="nav navbar-nav">

					<!-- Home -->
					<li class="dropdown ">
						<a href="/index">Home</a>
					</li><!-- / Home -->


					<!-- Elements -->
					<li class="dropdown dropdown-slide">
						<a id="zz" onclick="javascript:location.href='/complete-works'" href="/complete-works" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							role="button" aria-haspopup="true" aria-expanded="false">중고책 구매</a>
						<!-- <div class="dropdown-menu">
							<div class="row">

								Basic
								<div class="col-lg-6 col-md-6 mb-sm-3">
									<ul>
										<li class="dropdown-header">Pages</li>
										<li role="separator" class="divider"></li>
										<li><a href="/complete-works">전집</a></li>
										<li><a href="/usedBooks">중고단행본</a></li>
										<li><a href="/shop-sidebar">전체보기</a></li>
										<li><a href="#">--------</a></li>
										<li><a href="/shop">Shop</a></li>
										<li><a href="/checkout">Checkout</a></li>
										<li><a href="/cart">Cart</a></li>
										<li><a href="/pricing">Pricing</a></li>
										<li><a href="/confirmation">Confirmation</a></li>

									</ul>
								</div>

								Layout
								<div class="col-lg-6 col-md-6 mb-sm-3">
									<ul>
										<li class="dropdown-header">Layout</li>
										<li role="separator" class="divider"></li>
										<li><a href="/product-single">Product Details</a></li>
										<li><a href="/shop-sidebar">Shop With Sidebar</a></li>

									</ul>
								</div>

							</div>/ .row
						</div> --><!-- / .dropdown-menu -->
					</li><!-- / Elements -->


					<!-- Pages -->
					<li class="dropdown full-width dropdown-slide">
						<a onclick="javascript:location.href='/sell-usedbook'" href='/sell-usedbook' class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							role="button" aria-haspopup="true" aria-expanded="false">중고책 판매</a>
						<!-- <div class="dropdown-menu">
							<div class="row">

								Introduction
								<div class="col-sm-3 col-xs-12">
									<ul>
										<li class="dropdown-header">Introduction</li>
										<li role="separator" class="divider"></li>
										<li><a href="/sell-usedbook">중고책 판매</a></li>
										<li><a href="/contact">Contact Us</a></li>
										<li><a href="/about">About Us</a></li>
										<li><a href="/404">404 Page</a></li>
										<li><a href="/coming-soon">Coming Soon</a></li>
										<li><a href="/faq">FAQ</a></li>
									</ul>
								</div>

								Contact
								<div class="col-sm-3 col-xs-12">
									<ul>
										<li class="dropdown-header">Dashboard</li>
										<li role="separator" class="divider"></li>
										<li><a href="/dashboard">User Interface</a></li>
										<li><a href="/order">Orders</a></li>
										<li><a href="/address">Address</a></li>
										<li><a href="/profile-details">Profile Details</a></li>
									</ul>
								</div>

								Utility
								<div class="col-sm-3 col-xs-12">
									<ul>
										<li class="dropdown-header">Utility</li>
										<li role="separator" class="divider"></li>
										<li><a href="/login">Login Page</a></li>
										<li><a href="/signin">Signin Page</a></li>
										<li><a href="/forget-password">Forget Password</a></li>
									</ul>
								</div>

								Mega Menu
								<div class="col-sm-3 col-xs-12">
									<a href="/shop">
										<img class="img-responsive" th:src="@{/images/ubooks/shop/header-img.jpg}" alt="menu image" />
									</a>
								</div>
							</div>/ .row
						</div> --><!-- / .dropdown-menu -->
					</li><!-- / Pages -->



					<!-- Blog -->
					<li class="dropdown dropdown-slide">
						<a onclick="javascript:location.href='/profile-details'" href="/profile-details" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							role="button" aria-haspopup="true" aria-expanded="false">About me</a>
						<!-- <ul class="dropdown-menu">
							<li><a href="/blog-left-sidebar">Blog Left Sidebar</a></li>
							<li><a href="/blog-right-sidebar">Blog Right Sidebar</a></li>
							<li><a href="/blog-full-width">Blog Full Width</a></li>
							<li><a href="/blog-grid">Blog 2 Columns</a></li>
							<li><a href="/blog-single">Blog Single</a></li>
						</ul> -->
					</li><!-- / Blog -->

					<!-- Shop -->
					<!-- <li class="dropdown dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							role="button" aria-haspopup="true" aria-expanded="false">ㅌㅌㅌㅌㅌ	 <span
								class="tf-ion-ios-arrow-down"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/typography">Typography</a></li>
							<li><a href="/buttons">Buttons</a></li>
							<li><a href="/alerts">Alerts</a></li>
						</ul>
					</li> --><!-- / Blog -->
				</ul><!-- / .nav .navbar-nav -->

			</div>
			<!--/.navbar-collapse -->
		</div><!-- / .container -->
	</nav>
</section>
</th:block>
</html>